.vz{
    text-align: center;
    background-image: linear-gradient(to right, rgb(96, 96, 96), rgb(0,0,0) );
   
    border: none;
    padding: 15px;
    color: white;
    
    cursor: pointer;
    border-radius: 5px;
    }
.vou{

    text-align: center;
    background-image: linear-gradient(to right, rgb(96, 96, 96), rgb(0,0,0) );
   
    border: none;
    padding: 15px;
    color: white;
    
    cursor: pointer;
    border-radius: 5%;
}
body{
    
    padding: 30px;
    text-align: center;
    margin-top: 95px;
    background-color: darkgrey;
    
    
}
form{
    background: grey;
    background-color: grey;
    border-radius: 50px;
}
.p{
    border: 1px solid black;
    border-radius: 10px;

    background-color: grey;
    
}